@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish:wght@400;700;800&display=swap");

:root {
  /* Colors */
  --black: #333333;
  --gray: #bdbdbd;
  --pink: #eb5757;
  --black2: #4f4f4f;
  --gray2: #828282;
  --white: #ffffff;
  --white2: #f2f2f2;
  /* Fonts */
  --title: "Montserrat", sans-serif;
  --paragraph: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

button:disabled{
  background-color: gray;
  cursor: not-allowed;
}
